 
 <div class="container">

     <form action="/admin/banner/image" method="POST" enctype="multipart/form-data">
    <div class="file-field input-field">
      <div class="btn grey">
        <span>Choose File</span>
        <input type="file" name="imgUrl">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <button class="btn" type="submit">Save</div>
  </form>
        

 </div>
 