<div class="container">


    <div class="row">

        {{> _msg}}

        <div class="col s12 m12 l12">
            <h4>Add Policy</h4>
            <div class="hr-1px"></div>

            <div class="col s12 m12 l12">
                <div class="card white darken-1">
                    <div class="card-content gray-text">

                        <form action="/admin/policy" method="post">

                            <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="title">
                                    <label for="title">Policy Title</label>

                                </div>
                            </div>

                            <div class="row">

                                <div class="input-field col s12 m12 l12">

                                    <h5>Policy Detail</h5>
                                    <textarea id="desc" name="desc" class="materialize-textarea"></textarea>

                                </div>

                            </div>

                             

                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <select name="status" id="status">

                                        <option value="Public" selected>Public</option>
                                        <option value="Private">Private</option>
                                        <option value="Unpubblished">Unpubblished</option>

                                        <ect></ect>
                                        <ect></ect>
                                    </select>
                                    <label for="status">Status</label>
                                </div>
                            </div>

                            <div class="row">
                                <input type="submit" value="Add" class="btn right">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>