<div class="container">


    
        <div class="row">

            <div class="col s10 m10 l10  "><h4>Service Management</h4></div>
            <div class="col s1 m1 l1" style="text-align: bottom"><h4 class="right"><i class="material-icons include-check" >chevron_left</i> </h4></div>
            <div class="col s1 m1 l1"> <a href="/admin/services"><h4 class="right">Back</h4></a></div>
            

        </div>

         {{!-- banner image upload --}}
                    <div class="col s12 m12 l12">
                        {{> _image-upload-service-banner }}
                    </div>

            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card white darken-1">
                        <div class="card-content gray-text">

                            <form action="/admin/service/{{ service.id }}?_method=PUT" method="post">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="row">

                                    <div class="input-field col s2 m2 l2">

                                        <input type="text" name="order" value="{{ service.order }}">
                                        <label for="order">No.</label>

                                    </div>

                                    <div class="input-field col s10 m10 l10">
                                        <input type="text" name="title" value="{{ service.title }}" required>
                                        <label for="title">Service Name</label>

                                    </div>
                                </div>

                                <div class="row">

                                    <div class="input-field col s12 m12 l12">

                                        <h5>Descriptions</h5>
                                        <textarea id="desc" name="desc" class="materialize-textarea" required>{{ service.desc }}</textarea>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="input-field col s12 m12 l12">
                                        <select name="status" id="status">
                                            {{#select service.status }}

                                            <option value="Public">Public</option>
                                            <option value="Private">Private</option>
                                            <option value="Unpublished">Unpublished</option>

                                            {{/select }}
                                        </select>
                                        <label for="status">Status</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <input type="submit" value="Update" class="btn right">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">

                    {{!-- Single image upload --}}
                    <div class="col s12 m6 l6">
                        {{> _image-upload-service }}
                    </div>
                    <div class="col s12 m6 l6">
                        {{> _service-price-update }}
                    </div>
                </div>
                
                <div class="row">
                 {{> _service-gallery-manage }}
                </div>
                
            </div>

            
            {{!-- Include Manage --}}
            <div class="row">
                
                     {{> _service-edit-include }}
             
            </div>

              {{!-- Exclude Manage --}}
            <div class="row">
                
                     {{> _service-edit-exclude }}
               
            </div>

</div>

