<div class="container" style="padding: 10px">

<div class="row">

    {{> _msg}}

    
    
   
    
    <div class="row">      
            {{> _transfer-edit}}
        </div>
    </div>
</div>

</div>