<div class="row">
  <footer class="page-footer red lighten-2">
    {{!-- <div class="container center">
              <p><h5 style="color: #455a64">Follow Us</h5></p>

              <p class="blue-grey-text"><i class="fab fa-facebook-square fa-4x"></i> <i class="fab fa-instagram fa-4x"></i></p>
              
          </div> --}}

    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h4 style="color: #ffffff">ติดต่อ MostOffice</h4>
          <ul class="highlight">
            {{!-- <li><a style="color: #ffffff"" href="/">ติดต่อ: M.S.C.S</a></li> --}}
            {{!-- <li class="divider"></li> --}}
            <li><a style="color: #ffffff"" href=" mailto:mostoffice2559@gmail.com ?Subject=Enquiry from
                mostoffice.co.th">อีเมล์: mostoffice2559@gmail.com</a></li>
            {{!-- <li class="divider"></li> --}}
            <li><a style="color: #ffffff"" href=" tel:02412645960">โทรศัพท์: 0-999-9999</a></li>
            {{!-- <li class="divider"></li> --}}
            {{!-- <li><a style="color: #ffffff"" href="/contact-us">Skype: p.sinthorn</a></li> --}}
            {{!-- <li class="divider"></li> --}}
            {{!-- <li><a style="color: #ffffff"" href="/contact-us">WhatsApp: 093 579 4878</a></li> --}}
            {{!-- <li class="divider"></li> --}}

          </ul>
          <br>
          <h5>Follow Us</h5>
          <div class="row">
            <img src="/images/socials/fb-crcle-transparent.png" class="responsive-img" style="width: 50px"
              alt="Facebook MSCS Pest">
            <img src="/images/socials/youtube-crcle-transparent.png" class="responsive-img" style="width: 50px"
              alt="youtube MSCS Pest">
            <img src="/images/socials/googleplus-crcle-transparent.png" class="responsive-img" style="width: 50px"
              alt="Google Plus MSCS Pest">
            <img src="/images/socials/twitter-crcle-transparent.png" class="responsive-img" style="width: 50px"
              alt="Twitter MSCS Pest">
            <img src="/images/socials/instagram-crcle-transparent.png" class="responsive-img" style="width: 50px"
              alt="Instagram MSCS Pest">
          </div>

        </div>
        <div class="col l4 offset-l2 s12">
          <h4 style="color: #ffffff">Links</h4>
          <ul class="highlight">
            <li><a style="color: #ffffff" href="/">หน้าแรก</a></li>
            {{!-- <li class="divider"></li> --}}

            <li><a style="color: #ffffff" href="/products">สินค้า</a></li>
            {{!-- <li class="divider"></li> --}}
            <li><a style="color: #ffffff" href="/services">บริการ</a></li>
            {{!-- <li><a style="color: #ffffff" href="/term-policies">Term & Conditions</a></li> --}}
            <li><a style="color: #ffffff" href="/about">เกี่ยวกับเรา</a></li>
            <li><a style="color: #ffffff" href="/contact-us">ติดต่อเรา</a></li>
            {{!-- <li class="divider"></li> --}}




          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright  red darken-1 ">
      <div class="container">
        © 2018 Copyright mostoffice.co.th
        {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
        <div class="right hide-on-small-only">
          <ul>
            <li>
              <a href="http://www.f2.co.th" style="color: white" target="_blank">2018 | Fullstack Development by: F2
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


</div>

</footer>



</div>