<div class="slider fullscreen">
    <ul class="slides">

        <li>
            <img class="responsive-img" src="images/banner/mscs-banner-800x440.jpg">
            <!-- random image -->
            <div class="caption center-align">
                {{!-- <h3>ให้เราปกป้องคุณ</h3>
                <h5 class="light grey-text text-lighten-3">บริการจำกัดแมลงโดย M.S.C.S Pest</h5> --}}
            </div>
        </li>
        <li>
            <img src="images/banner/mscs-pest-control-01.jpg">
            <!-- random image -->
            <div class="caption left-align">
                <h3>ให้เราปกป้องคุณ</h3>
                <h4 class="light grey-text text-lighten-3">Creative Design</h4>
            </div>
        </li>
        <li>
            <img src="images/banner/mscs-pest-control-02.jpeg">
            <!-- random image -->
            <div class="caption right-align">
                <h3>ให้เราปกป้องคุณ</h3>
                <h4 class="light grey-text text-lighten-3">บริการด้วยความใส่ใจ</h4>
            </div>
        </li>

        {{!-- <li>
            <img src="images/banner/mscs-pest-control-03.jpg">
            <!-- random image -->
            <div class="caption left-align">
                <h3>ให้เราปกป้องบ้านคุณ</h3>
                <h5 class="light grey-text text-lighten-3">บริการด้วยความห่วงใย</h5>
            </div>
        </li> --}}

        <li>
            <img src="images/banner/mscs-pest-control-04.jpg">
            <!-- random image -->
            <div class="caption left-align">
                <h3>ให้เราปกป้องบ้านคุณ</h3>
                <h4 class="light grey-text text-lighten-3">บริการโดยมืออาชีพจาก M.S.C.S Pest</h4>
            </div>
        </li>

    </ul>
</div>