<nav class="center">

    <div class="container-fluid">
        <div class="nav-wrapper">

            {{!-- <div class="row" style="hight: 50px">
                <div class="banner-mscs">
            <div class="col s8 m8 l8 banner-img">
                <img class="responsive-img" src="images/banner/mscs-banner-1900x440.jpg">
            </div>

            <div class="col s4 m4 l banner-img">
                <p>Contact Here</p>
                <p>Tel:</p>
                <p>mobile</p>
                <p>email</p>
            </div>

             </div> 

        </div> --}}

            <div class="top-menu">
                <div class="top-side-nav">
                    <ul>
                        <li>
                            <a href="/" data-activates="main-menu" class="button-collapse show-on-large">
                                <div class="menu-icon active top-logo"><i
                                        class="material-icons Large menu-icon">menu</i></div>
                            </a>
                        <li>
                        <li>
                            <a href="/" data-activates="main-menu">
                                <div class="top-logo" style="font-size: 48px; font-size: 3.0rem; font-weight: bold;">
                                    MostOffice
                                </div>

                            </a>
                        <li>
                    </ul>
                </div>
                <div class="top-main-menu">
                    <div class="main-menu">

                        <ul id="nav-main" class="hide-on-med-and-down">
                            {{!-- <li>

                                <a href="/" style="font-size: 24px; font-size: 2.0rem">MostOffice</a>
                            <li> --}}

                            <li>
                                <a href="/" style="font-size: 16px; font-size: 1.6rem; color: #888">หน้าแรก</a>
                            </li>

                            <li>
                                <a href="/products" style="font-size: 18px; font-size: 1.6rem; color: #888">สินค้า</a>
                            </li>

                            <li>
                                <a href="/services" style="font-size: 18px; font-size: 1.6rem; color: #888">บริการ</a>
                            </li>



                            {{!-- <li>
                                <a href="/transfers">History</a>
                            </li> --}}

                            {{!-- <li>
                                <a href="/company-profile">Company Profile</a>
                            </li> --}}

                            <li>
                                <a href="/about"
                                    style="font-size: 18px; font-size: 1.6rem; color: #888">เกี่ยวกับเรา</a>
                            </li>

                            <li>
                                <a href="/contact-us"
                                    style="font-size: 18px; font-size: 1.6rem; color: #888">ติดต่อเรา</a>
                            </li>

                        </ul>


                    </div>

                </div>

                <div class="top-contact right">
                    {{!--Hidden on Small--}}
                    {{!-- <div class="row right">

                        <div>
                            <p style="font-size: 18px; font-size: 2rem; color: #888">โทร: 099-999-9999</p>
                        </div>



                    </div> --}}

                    {{!-- <div>
                        <div class="row">
                            
                            <i class="material-icons small right"
                                style="font-size: 18px; font-size: 2rem; color: #888">email</i>

                        </div>

                    </div> --}}

                    {{!-- <ul class="right hide-on-med-and-down" style="font-size: 18px; font-size: 2rem; color: #888">
                        <li><a href="sass.html" style="font-size: 18px; font-size: 2rem; color: #888"><i
                                    class="material-icons">search</i></a></li>
                        <li><a href="badges.html" style="font-size: 18px; font-size: 2rem; color: #888"><i
                                    class="material-icons">email</i></a></li>
                        <li><a href="collapsible.html" style="font-size: 18px; font-size: 2rem; color: #888"><i
                                    class="material-icons">phone</i></a></li>
                        <li><a href="mobile.html" style="font-size: 18px; font-size: 2rem; color: #888"><i
                                    class="material-icons">more_vert</i></a></li>
                    </ul> --}}


                    {{!-- <div class="menu-stack hide-on-med-and-down right">



                        <div class="email-icon" style="font-size: 18px; font-size: 1.6rem; color: #888"><a
                                href="mailto:seaflyers@hotmail.com"><i class="material-icons small">email</i></a></div>
                        <div class="email-stack"><a href="mailto:seaflyers@hotmail.com">seaflyers@hotmail.com</a> </div>


                        <div class="tel-icon"><a href="tel:077601025"><i
                                    class="material-icons small">local_telephone</i></a></div>
                        <div class="tel-stack"><a href="tel:077601025">077 601 025 </a></div>


                    </div> --}}

                    {{!--Show only on small--}}

                    {{!--                         
                        <div class="menu-stack-small right">
                            <div class="email-icon-small"><a href="mailto:seaflyers@hotmail.com"><i class="material-icons">email</i></a></div>
                            <div class="tel-icon-small"><a href="tel:077601025"><i class="material-icons">local_telephone</i></a></div>
                        </div>  --}}

                </div>



            </div>


        </div>

    </div>
</nav>



{{> _header-side-nav}}