<div class="card">
    <div class="card-content">
        <span class="card-title">สนใจสั่งซื้อสิ้นค้าชนิดนี้</span>
        <form action="/payment/paypal" method="POST">


            <div class="row">
                <div class="input-field">
                    <input type="text" class="datepicker" name="productdate">
                    <label for="datepicker">วันที่ต้องการให้จัดส่ง</label>
                </div>
            </div>
                <div class="row">
                    <div class="col s12 m6 l6 input-field">
                        <input type="text" name="fname" required>
                        <label for="fname">ชื่อ</label>
                    </div>

                    <div class="col s12 m6 l6 input-field">
                        <input type="text" name="lname" required >
                        <label for="lname">นามสกุล</label>
                    </div>

                </div>

               <div class="row">
                    <div class="col s12 m6 l6 input-field">
                        <input type="email" name="email" required >
                        <label for="email">อีเมล์</label>
                    </div>

                    <div class="col s12 m6 l6 input-field">
                        <input type="text" name="phone">
                        <label for="phone">โทรศัพท์</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m12 l12 input-field">
                        <input type="text" name="pickupat" required>
                        <label for="pickupat">สถานที่จัดส่ง</label>
                </div>

                <div class="row">
                    <div class="col s12 m12 l12 right">
                        <label>
                            <input type="checkbox" name="readPolicy" class="filled-in" required />
                            <span>*ได้อ่านและยอมรับเงื่อนไขของทางบริษัทในทุกข้อ<a href="/term-policies" target="_blank"> เงื่อนไข ข้อยกเว้น และกำหนดอื่นๆ </a></span>
                        </label>
                    </div>
                </div>

                <input type="hidden" value="{{ product.title }}" name="title">
                <input type="hidden" value="product" name="skuType">
                <input type="hidden" value="{{ product.price.sale}}" name="sale"> 

                <div class="row">

                    <div class="col s7 m7 l7">
                        <p class="right">
                             <img src="/images/paypal-transpaent_logo.png" class="responsive-img" style="width: 150px" alt="MSCS Pest product Secure Payment With Paypal">
                        </p>
                    </div>

                    <div class="col s5 m5 l5">
                        <p>
                            {{#if product.price.sale  }}              
                        <button class="btn light-blue accent-4 right" style="inline-block" type="submit">               
                        สอบถาม และ/หรือ สั่งซื้อสินค้า
                        {{ product.price.sale }}.00 บาท  
                        </button> {{/if}}
                        </p>

                    </div>
                    
                   
                </div>
                


        </form>
        </div>
    </div>