<section class="social-section" style="padding-bottom: 50px; padding-top: 100px ">
        <div class="container">
            <div class="row">
                <h2>Social Connect</h2>
                <br>
                <div class="col s3 m3 l3">
                    <p><i class="fa fa-facebook-official large" aria-hidden="true"></i></p>
                    <p>FACEBOOK</p>
                </div>

                <div class="col s3 m3 l3">
                    <p><i class="fa fa-google-plus-square large" aria-hidden="true"></i></p>
                    <p>GOOGLE PLUS</p>
                    
                </div>

                <div class="col s3 m3 l3">
                    <p><i class="fa fa-youtube-square large" aria-hidden="true"></i></p>
                    <p>YOUTUBE</p>
                   
                   
                </div>

                <div class="col s3 m3 l3">
                    <p><i class="fa fa-instagram large" aria-hidden="true"></i></p>
                    <p>INSTAGRAM</p>
                   
                </div>


            </div>
        </div>
    </section>
