<section class="about-section">
        <div class="container">
            <div class="row">
                <h2>Why Book With Us</h2>
                <br>
                <div class="col s12 m3 l3">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Why 1</span>
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because
                                I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m3 l3">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Why 2</span>
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because
                                I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m3 l3">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Why 3</span>
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because
                                I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m3 l3">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Why 4</span>
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because
                                I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
