
        <h4>
        {{ apartment.title}}
        </h4>

        <p class="font-grey">Address:  {{ apartment.address }}</p>
        
        <div class="row" style="background-color: #cfd8dc; padding: 20px">
            
        <div class="col s12 m3 l3 hide-on-small-only">
            <div class="card">
                <div class="card-image">


                    <img class="materialboxed" src="../images/le-quatier/le-quartier-01.jpg"> {{!--
                    <span class="card-title">5779 Av. De Lorimier</span> --}} {{!--
                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">add</i>
                    </a> --}}

                    <div class="card-footer blue-grey-text center-align">


                    </div>
                </div>

            </div>

        </div>

         <div class="col s12 m3 l3 hide-on-small-only">
            <div class="card">
                <div class="card-image">


                    <img class="materialboxed" src="../images/le-quatier/le-quartier-01.jpg"> {{!--
                    <span class="card-title">5779 Av. De Lorimier</span> --}} {{!--
                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">add</i>
                    </a> --}}

                    <div class="card-footer blue-grey-text center-align">


                    </div>
                </div>

            </div>

        </div>

         <div class="col s12 m3 l3 hide-on-small-only">
            <div class="card">
                <div class="card-image">


                    <img class="materialboxed" src="../images/le-quatier/le-quartier-01.jpg"> {{!--
                    <span class="card-title">5779 Av. De Lorimier</span> --}} {{!--
                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">add</i>
                    </a> --}}

                    <div class="card-footer blue-grey-text center-align">


                    </div>
                </div>

            </div>

        </div>

         <div class="col s12 m3 l3 hide-on-small-only">
            <div class="card">
                <div class="card-image">


                    <img class="materialboxed" src="../images/le-quatier/le-quartier-01.jpg"> {{!--
                    <span class="card-title">5779 Av. De Lorimier</span> --}} {{!--
                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">add</i>
                    </a> --}}

                    <div class="card-footer blue-grey-text center-align">


                    </div>
                </div>

            </div>

        </div>





        </div>
        <div class="row">
            <div class="col s12 m8 l8">
                <p class="header-text-01">
                    {{{ apartment.desc }}}
                </p>

                <br>
                <h5>Amenities</h5>
                {{!-- <div class="divider"></div> --}}
                <br>
                <div class="row">
                    {{#each apartment.facilities}}
                        <div class="col s12 m6 l6">
                            
                            <div class="col s12 m12 l12"> 

                                <div class="col s2 m2 l2">
                                    
                                        <i class="material-icons">check</i>
                                   
                                </div>
                                <div class="col s10 m10 l10">
                                    
                                     {{ title }}
                                    
                                </div>
                                
                            </div>
                            
                           
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="col s12 m1 l1"></div>

            <div class="col s12 m3 l3">
                <div class="row">
                     <div class="col s12 m12 l12">
                    <p class="header-text-01">
                     <h5>Visites sur rendez-vous.</h5>   
                     <div class="divider"></div>
                    <p>Cristina Toffalo </p>                       
                    <p>Tél: +1 514 995-0037</p> 
                    <p>WhatsApp : xxxxxx</p>
                    <p>Skype: xxxxxxxx</p>
                    <p> Courriel: XXXXXXX</p>
                    

                    

                    
                   
                </p>
                </div>

                </div>

                <div class="row">
                    <div class="col s12 m12 l12">
                    <h5>Maps</h5>
                    <div class="divider"></div>
                    <a href="https://www.google.ca/maps/place/5547+4e+Avenue,+Montr%C3%A9al,+QC+H1Y+2V5/@45.5476309,-73.5795791,17z/data=%213m1%214b1%214m5%213m4%211s0x4cc91bfd125194bd:0x250a76a74a4a37b6%218m2%213d45.5476272%214d-73.5773904" target="_blank">
                        <img class="responsive-img" src="../images/maps.png" alt="maps">
                    </a>
                   
              
                </div>

                </div>
                 
               
            </div>
        </div>

         <div class="row">
           

           

            <div class="col s12 m8 l8">
                <div class="row">

                    <div class="col s12 m6 l6">
                        <img src="" alt="">
                    </div>

                    <div class="col s12 m6 l6">

                    </div>

                </div>
            </div>
        </div>
 
 
