

<div class="banner-sub">
<div class="slider">
    <ul class="slides">
    <li>
      <img src="./../images/location/montreal-ap-01.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Appartements à louer - Montréal</h3>
        <h5 class="light grey-text text-lighten-3">Plateau - Rosemont - Anjou</h5>
      </div>
    </li>
    <li>
      <img src="./../images/location/montreal-ap-02.jpeg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Appartements à louer - Montréal</h3>
        <h5 class="light grey-text text-lighten-3">Plateau - Rosemont - Anjou</h5>
      </div>
    </li>
    <li>
      <img src="./../images/location/montreal-ap-03.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3>Appartements à louer - Montréal</h3>
        <h5 class="light grey-text text-lighten-3">Plateau - Rosemont - Anjou</h5>
      </div>
    </li>

    <li>
      <img src="./../images/location/montreal-ap-04.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Appartements à louer - Montréal</h3>
        <h5 class="light grey-text text-lighten-3">Plateau - Rosemont - Anjou</h5>
      </div>
    </li>

    <li>
      <img src="./../images/location/apdl-01.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Appartements à louer - Montréal</h3>
        <h5 class="light grey-text text-lighten-3">Plateau - Rosemont - Anjou</h5>
      </div>
    </li>
  </ul>
  </div>
  </div>