
<div class="container-fluid">
<div class="banner-sub">
<div class="slider">
    <ul class="slides">

         <li>
            <img src="images/banner/banner-03.png">
            <!-- random image -->
            <div class="caption left-align">
                <h1 class="grey-text">ใช้แบบไหนดี?</h3>
                <h3 class="grey-text">หากไม่มั่นใจ ปรึกษาเราได้</h3>
                <h3 class="grey-text">โทรเลย. 02-999-9999</h3>
            </div>
        </li>

         <li>
            <img src="images/banner/banner-07.png">
            <!-- random image -->
            <div class="caption right-align">
                <h1 class="grey-text">Most Office </h1>
                <h3 class="grey-text">บริการด้วยความใส่ใจ ทุกความต้องการ</h3>
                <h3 class="grey-text">โทรเลย. 02-999-9999</h3>
            </div>
        </li>
   
        
        <li>
            <img src="images/banner/banner-05.png">
            <!-- random image -->
            <div class="caption left-align">
                <h1 class="grey-text">เชื่อมั่นในเรา</h1>
                <h3 class="grey-text">เทปคุณภาพสูงที่คุณเชื่อถือได้</h3>
                <h3 class="grey-text">โทรเลย. 02-999-9999</h3>
            </div>
        </li>

       
       

  </ul>
  </div>
  </div>
  </div>