<footer class="page-footer blue-grey lighten-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Pour nous rejoindre</h5>
                 <ul>
                  <li><a class="grey-text text-lighten-3" href="/stories">Contacter: Mme Cristina Toffalo</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">Courriel: toffalo@apdl.ca</a></li>
                  <li><a class="grey-text text-lighten-3" href="/contact-us">Tél: + 1 514 995-0037</a></li>
                  <li><a class="grey-text text-lighten-3" href="/contact-us">Skype: cristina.toffalo</a></li>
                  <li><a class="grey-text text-lighten-3" href="/contact-us">Nous privilégions les communications par courriel.</a></li>
                  
                  <h5 class="white-text">Autres renseignements </h5>
                  <p>Nous vous prions de remplir un formulaire avec des renseignements personnels sur place.</p>
                  
                 
                  
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/stories">Apartments</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="/contact-us">Contact Us</a></li>
                  {{#if user}}
                     <li><a class="grey-text text-lighten-3" href="/auth/logout">Logout</a></li>
                  {{else}}
                     <li><a class="grey-text text-lighten-3" href="/auth/login">Login</a></li>
                  {{/if}}
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright  blue darken-4">
            <div class="container">
            © 2018 Copyright apdl.ca
            {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            </div>
          </div>
        </footer>
            