<footer class="page-footer blue-grey lighten-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="blue-grey-text">Pour nous rejoindre</h5>
                 <ul class="highlight">
                  <li><a class="blue-grey-text" href="/stories">Contacter: Mme Cristina Toffalo</a></li>
                  {{!-- <li class="divider"></li> --}}
                  <li><a class="blue-grey-text" href="mailto:LecoursToffalo@gmail.com?Subject=Enquiry from APDL.CA">Courriel: LecoursToffalo@gmail.com</a></li>
                  {{!-- <li class="divider"></li> --}}
                  <li><a class="blue-grey-text" href="tel:+15149950037">Tél: + 1 514 995-0037</a></li>
                  {{!-- <li class="divider"></li> --}}
                  <li><a class="blue-grey-text" href="/contact-us">Skype: cristina.toffalo</a></li>
                  {{!-- <li class="divider"></li> --}}
                  <li><a class="blue-grey-text" href="/contact-us">WhatsApp: + 1 514 995-0037</a></li>
                  {{!-- <li class="divider"></li> --}}
                  
                 
           
                  
                 
                  
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="blue-grey-text"></h5>
                <ul class="highlight">
                  <li><a class="blue-grey-text" href="/about">À Propos</a></li>
                  {{!-- <li class="divider"></li> --}}
                 
                  <li><a class="blue-grey-text" href="/apartments">Appartements à Louer</a></li>
                  {{!-- <li class="divider"></li> --}}

                   <li><a class="blue-grey-text" href="/contact-us">Nous Joindre</a></li>
                  {{!-- <li class="divider"></li> --}}
                  
                  
                  
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright  blue darken-4 ">
            <div class="container">
            © 2018 Copyright APDL.CA
            {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            <div class="right hide-on-small-only"><a  href="mailto:ecosyn1980@gmail.com?Subject=Enquiry from APDL.CA" style="text-decoration: none">2018 | Designed by: ecoSyn</a></div>
            </div>
          </div>

        
          </div>
          
        </footer>

     
            