
<footer class="page-footer blue-grey lighten-4">
          {{!-- <div class="container center">
              <p><h5 style="color: #455a64">Follow Us</h5></p>

              <p class="blue-grey-text"><i class="fab fa-facebook-square fa-4x"></i> <i class="fab fa-instagram fa-4x"></i></p>
              
          </div> --}}
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 style="color: #455a64">Contact Samui Oceantour</h5>
                 <ul class="highlight">
                  <li><a class="blue-grey-text" href="/">Contact: Samui Ocean Tour</a></li>
                  {{!-- <li class="divider"></li> --}}
                  <li><a class="blue-grey-text" href="mailto:seaflyers@hotmail.com?Subject=Enquiry from samuioceantour.com">Email: seaflyers@hotmail.com</a></li>
                  {{!-- <li class="divider"></li> --}}
                  <li><a class="blue-grey-text" href="tel:077 601 025">Phone: 077 601 025</a></li>
                  {{!-- <li class="divider"></li> --}}
                  {{!-- <li><a class="blue-grey-text" href="/contact-us">Skype: p.sinthorn</a></li> --}}
                  {{!-- <li class="divider"></li> --}}
                  {{!-- <li><a class="blue-grey-text" href="/contact-us">WhatsApp: 093 579 4878</a></li> --}}
                  {{!-- <li class="divider"></li> --}}
                  
                 
           
                  
                 
                  
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 style="color: #455a64">Links</h5>
                <ul class="highlight">
                  <li><a class="blue-grey-text" href="/">Home</a></li>
                  {{!-- <li class="divider"></li> --}}
                 
                  <li><a class="blue-grey-text" href="/tours">Tour Package</a></li>
                  {{!-- <li class="divider"></li> --}}

                    <li><a class="blue-grey-text" href="/about">About Us</a></li>
                   <li><a class="blue-grey-text" href="/contact-us">Contact Us</a></li>
                  {{!-- <li class="divider"></li> --}}
                  
                  
                  
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright  blue darken-4 ">
            <div class="container">
            © 2018 Copyright SamuiOceanTour.com
            {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            <div class="right hide-on-small-only">
              <ul>
                <li>
                  <a  href="http://www.f2.co.th" style="color: white" target="_blank">2018 | Fullstack Development by: F2 </a>
                </li>
              </ul>
              </div>
            </div>
          </div>

        
          </div>
          
        </footer>

     
            