<footer class="page-footer blue-grey lighten-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="blue-gret-text">Pour nous rejoindre</h5>
                 <ul>
                  <li><a class="blue-gret-text" href="/stories">Contacter: Mme Cristina Toffalo</a></li>
                  <li><a class="blue-gret-text" href="/about">Courriel: toffalo@apdl.ca</a></li>
                  <li><a class="blue-gret-text" href="/contact-us">Tél: + 1 514 995-0037</a></li>
                  <li><a class="blue-gret-text" href="/contact-us">Skype: cristina.toffalo</a></li>
                  <li><a class="blue-gret-text" href="/contact-us">WhatsApp: + 1 514 995-0037</a></li>
                  
                 
                  
                  
                 
                  
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="blue-gret-text"></h5>
                <ul>
                  <li><a class="blue-gret-text" href="/about">À Propos</a></li>
                  <li><a class="blue-gret-text" href="/contact-us">Nous Joindre</a></li>
                  <li><a class="blue-gret-text" href="/stories">Appartements</a></li>
                  
                  
                  
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright  blue darken-4">
            <div class="container">
            © 2018 Copyright apdl.ca
            {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            </div>
          </div>
        </footer>
            