<footer class="page-footer blue lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Ocean Tour</h5>
                <p class="grey-text text-lighten-4">Share your adventure content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/stories">Public Adventure Stories</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="/contact-us">Contact Us</a></li>
                  {{#if user}}
                     <li><a class="grey-text text-lighten-3" href="/auth/logout">Logout</a></li>
                  {{else}}
                     <li><a class="grey-text text-lighten-3" href="/auth/login">Login</a></li>
                  {{/if}}
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright  blue darken-4">
            <div class="container">
            © 2017 Copyright Ocean Tour
            {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            </div>
          </div>
        </footer>
            