<div class="slider fullscreen">
  <ul class="slides">
    <li>
            <img src="images/banner/best-beaches-samui.jpg">
            <!-- random image -->
            <div class="caption center-align">
                <h3>Welcome To Samui Island</h3>
                <h5 class="light grey-text text-lighten-3">1st Step of your Journey</h5>
            </div>
        </li>
        <li>
            <img src="images/banner/koh-nangyuan.jpg">
            <!-- random image -->
            <div class="caption left-align">
                <h3>Koh Nang Yuan</h3>
                <h5 class="light grey-text text-lighten-3">Beautyful Beach and Sight Seeing</h5>
            </div>
        </li>

         <li>
            <img src="images/banner/angthong-marine-park.jpg">
            <!-- random image -->
            <div class="caption left-align">
                <h3>Angthong Nation Marine Park</h3>
                <h5 class="light grey-text text-lighten-3">Sight seeing attraction and relaxing</h5>
            </div>
        </li>

        <li>
            <img src="images/banner/koh-tao-diving.jpg">
            <!-- random image -->
            <div class="caption left-align">
                <h3>Koh Tao</h3>
                <h5 class="light grey-text text-lighten-3">Here heaven of snokerling and diving</h5>
            </div>
        </li>

  </ul>
</div>