<nav class="blue darken-3">
    <div class="container">


        <div class="nav-wrapper">
            {{!--
            <a href="/" class="brand-logo center">APDL.CA</a> --}}
            <a href="/" data-activates="main-menu" class="button-collapse show-on-large">
            <div class="menu-icon"><i class="material-icons Large menu-icon">menu</i></div> 
                
        </a>


            <!-- center Navbar and Show on MED-UP  -->
            {{!-- <ul class="center-align show-on-small ">
                 

                <li class="font-120">
                    <a href="/" >
                    <div class="font-logo">
                        APDL.CA
                    </div>
                        
                    </a>
                </li>

            </ul> --}}


            <!-- Right Navbar and Show on MED-UP  -->
            <ul class="left hide-on-small-only">
                 

                <li class="font-120">
                    <a href="/" >
                    <div class="logo">
                        <img class="responsive-img inline-block" src="/images/logo-wtp.png" alt="apdl.ca">
                    </div>
                        
                    </a>
                </li>


                <li>
                    <a href="/about">À Propos</a>
                </li>

                

                <li>
                    <a href="/apartments">Appartements à Louer</a>
                </li>

                <li>
                    <a href="/contact-us">Nous Joindre</a>
                </li>



            </ul>


            <ul class="right">

                <li>

                    {{!-- <a href="tel:+15149950037">
                        <i class="material-icons">call</i> 
                    </a> --}}
                    
                </li>
                    <a href="tel:+15149950037">
                     Call + 1 514 995-0037
                    </a>
                <li>
                   
                </li>

            </ul>

            <!-- Side-Nav Menu -->
            <ul class="side-nav" id="main-menu">

                {{#if user}}
                <li>
                    {{!-- padding property padding: top right bottom left --}}
                    <div style="text-align:center; padding: 30px 0 30px 0">
                        <div class="chip" style="display: inline-block; text-align: center">
                            <img src="{{user.image}}" alt="user image"> {{user.firstName}} {{user.lastName}}
                        </div>
                    </div>
                </li>



                <li class="divider"></li>

                <li>
                    <a class="dropdown-button" href="#!" data-activates="content_dropdown">Content Management
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

             

             

                <li class="divider"></li>


                <li>
                    <a href="/contact-us">
                        <i class="material-icons">favorite</i>Get in Touch</a>
                </li>

                {{else}}

                <li>
                    <a href="/">
                        <i class="material-icons">apps</i>
                        <div class="logo">
                                 <img src="/images/logo-btp.png" alt="apdl.ca">
                        </div>
                               
                       
                    </a>  
                </li>

                {{!--
                <li>
                    <a href="/stories">
                        <i class="material-icons medium">forum</i> Public Adventure Stories</a>
                </li> --}}
                <li class="divider"></li>




                <li>
                    <a href="/about">
                        <i class="material-icons">fingerprint</i>
                        </i>À Propos</a>
                </li>

                 <li class="divider"></li>

               

                <li>
                    <a href="/apartments">
                        <i class="material-icons">domain</i>Appartements à Louer</a>
                </li>

                

                <li class="divider"></li>

                 <li>
                    <a href="/contact-us">
                        <i class="material-icons">favorite</i>Nous Joindre</a>
                </li>

                 <li class="divider"></li>

                <li class="divider"></li>

                <li>
                    <a href="#">
                        <i class="material-icons">edit</i>Admin Panel</a>
                </li>

                 <li class="divider"></li>

                 <li>
                    <a href="/admin/about">
                        <i class="material-icons">person_pin</i>About</a>
                </li>

                <li class="divider"></li>
                 <li>
                    <a href="/admin/contact">
                        <i class="material-icons">perm_phone_msg</i>Contact</a>
                </li>

                <li class="divider"></li>
                 <li>
                    <a href="/admin/apartments">
                        <i class="material-icons">favorite</i>Appartements</a>
                </li>


               



                {{/if}} {{#if user}} {{!--
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-cogs"></i>Dashboard</a>
                </li> --}} {{!--
                <li>
                    <a href="/stories/my-stories">
                        <i class="fa fa-comments-o"></i> My Stories</a>
                </li> --}}
                <li>
                    <a href="/auth/logout">
                        <i class="material-icons">exit_to_app</i>Logout</a>
                </li>

                {{/if}}
            </ul>

        </div>
    </div>
</nav>