 {{!-- <div class="container-fluid blue darken-4 right" style="padding-right: 10px">  <ul id="nav-main-right" class="right">

                    <li><a href="mailto:lecourstoffalo@gmail.com"><i class="material-icons left">email</i>LecoursToffalo@gmail.com</a></li>
                </ul>  
                <ul id="nav-main-right" class="right">
                    <li><a href="tel:+15149950037"> <i class="material-icons left">local_telephone</i>+ 1 514 995-0037</a></li>
                </ul>   
</div> --}}
<nav class="red darken-1 center">
    
        <div class="container-fluid">
  
        <div class="nav-wrapper">
            {{!--
            <a href="/" class="brand-logo center">APDL.CA</a> --}}
            <a href="/" data-activates="main-menu" class="button-collapse show-on-large">
            <div class="menu-icon active"><i class="material-icons Large menu-icon">menu</i></div> 
                
        </a>

           
            <!-- Right Navbar and Show on MED-UP  -->
            <ul id="nav-main-left" class="hide-on-small-only">
                 

                <li class="font-120">
                    <a href="/" >
                    <div class="logo">
                        <img class="responsive-img inline-block" src="/images/logo-wtp.png" alt="apdl.ca">
                    </div>
                        
                    </a>
                </li>

            </ul>


           
            <div class="main-menu right">

                <ul id="nav-main" class="hide-on-small-only center">

                 <li>
                    <a href="/about">About Us</a>
                </li>

                <li>
                    <a href="/tours">Tour Package</a>
                </li>

                <li>
                    <a href="/contact-us">Contact Us</a>
                </li>

                

            </ul>


            
            
           

            {{!--Hidden on Small--}}

               <div class="menu-stack hide-on-small-only right">
                  
                  <div class="email-icon"><a href="mailto:lecourstoffalo@gmail.com"><i class="material-icons small">email</i></a></div>
                   <div class="email-stack"><a href="mailto:lecourstoffalo@gmail.com">LecoursToffalo@gmail.com </a> </div>
                 
                    
                  <div class="tel-icon"><a href="tel:+15149950037"><i class="material-icons">local_telephone</i></a></div>
                   <div class="tel-stack"><a href="tel:+15149950037">+ 1 514 995-0037</a></div>
                   
                    
               </div> 


               {{!--Show only on small--}}
               <div class="menu-stack-small hide-on-med-and-up right">
                  <div class="email-icon-small"><a href="mailto:lecourstoffalo@gmail.com"><i class="material-icons">email</i></a></div>
                  <div class="tel-icon-small"><a href="tel:+15149950037"><i class="material-icons">local_telephone</i></a></div>    
               </div> 

               </div>
          
        </div>
    </div>
</nav>


{{> _header-side-nav}}