 <div class="container-fluid">
                <div class="banner-mscs">
            <div class="col s12 m12 l12 banner-img">
                <img class="responsive-img" src="/images/banner/mscs-top-banner-new.png">
            </div>

            {{!-- <div class="col s4 m4 l4 banner-img">
                <p>Contact Here</p>
                <p>Tel:</p>
                <p>mobile</p>
                <p>email</p>
            </div> --}}

             </div> 

        </div>
