 <!-- Content Managment Menu Dropdown Structure -->
        <ul id="tour_dropdown" class="dropdown-content">
           

             <li>
                    <a href="/admin/tours">
                        <i class="material-icons">loyalty</i>Tour Package</a>
            </li>


            <li>
                    <a href="/geocode">
                        <i class="material-icons">edit_location</i>Geo-Location Finder</a>
            </li>

        </ul>


 <!-- Side-Nav Menu -->
            <ul class="side-nav" id="main-menu">

                {{#if user}}
                
                 <li>
                    <a href="/">
                        <i class="material-icons">apps</i>
                        <div class="logo">
                                 {{!-- <img src="/images/logo-btp.png" alt="apdl.ca"> --}}
                              <b>SamuiOceanTour</b>   
                        </div>
                               
                       
                    </a>  
                </li>


                <li class="divider"></li>

                <li>
                    
                    <a class="dropdown-button left-align" href="#!" data-activates="content_dropdown"><i class="material-icons right">arrow_drop_down</i>Content Management
                        
                    </a>
                </li>

                 <li class="divider"></li>

                 <li>
                    <a href="/admin/intro">
                        <i class="material-icons">subject</i>Intro</a>
            </li>

                  <li class="divider"></li>

                 <li>
                    <a href="/admin/about">
                        <i class="material-icons">fingerprint</i>About Us</a>
            </li>

             <li class="divider"></li>

            <li>
                    <a href="/admin/contact">
                        <i class="material-icons">perm_phone_msg</i>Contact</a>
            </li>


                 <li class="divider"></li>

                 <li>
                    
                    <a class="dropdown-button left-align" href="#!" data-activates="tour_dropdown"> <i class="material-icons right">arrow_drop_down</i>Tour Management
                        
                    </a>
                </li>

                
            <li class="divider"></li>
                 <li>
                    <a href="/admin/logout">
                        <i class="material-icons">exit_to_app</i>Logout</a>
                </li>

               

                {{else}}

                <li>
                    <a href="/">
                        <i class="material-icons">apps</i>
                        <div class="logo">
                                 {{!-- <img src="/images/logo-btp.png" alt="apdl.ca"> --}}
                                 SamuiOceanTour
                        </div>
                               
                       
                    </a>  
                </li>

                <li>
                    <a href="/">
                        <i class="material-icons">flag</i>
                        </i>Home</a>
                </li>


                

                 <li class="divider"></li>

               

                <li>
                    <a href="/tours">
                        <i class="material-icons">loyalty</i>Tour Package</a>
                </li>

                 <li class="divider"></li>


                 {{!-- <li>
                    <a href="/transfers">
                        <i class="material-icons">airport_shuttle</i>Transfers Routes</a>
            </li> --}}

                

                {{!-- <li class="divider"></li> --}}

                <li>
                    <a href="/about">
                        <i class="material-icons">fingerprint</i>
                        </i>About Us</a>
                </li>


                 <li class="divider"></li>

                 <li>
                    <a href="/contact-us">
                        <i class="material-icons">favorite</i>Contact Us</a>
                </li>

                 <li class="divider"></li>
                
                    <li>
                    <a href="/admin/login">
                        <i class="material-icons">exit_to_app</i>Admin Login</a>
                    </li>

                <li class="divider"></li>

               



                {{/if}}
               



             
            </ul>
