<nav class="blue darken-3 center">

    <div class="container-fluid">

        <div class="nav-wrapper">


            <div class="top-menu">
                <div class="top-side-nav">
                    <ul>
                        <li>
                            <a href="/" data-activates="main-menu" class="button-collapse show-on-large">
                                <div class="menu-icon active"><i class="material-icons Large menu-icon">menu</i></div>
                            </a>
                            <li>
                    </ul>
                </div>

                <div class="top-logo">
                    <!-- Right Navbar and Show on MED-UP  -->
                    <ul id="nav-main-left" class="hide-on-small-only">


                        <li class="font-120">
                            <a href="/">
                                <div class="logo">
                                    <img class="responsive-img inline-block" src="/images/logo-wtp.png" alt="apdl.ca">
                                </div>

                            </a>
                        </li>

                    </ul>

                </div>

                <div class="top-main-menu">
                    <div class="main-menu">

                        <ul id="nav-main" class="hide-on-med-and-down">

                            <li>
                                <a href="/about">À Propos</a>
                            </li>



                            <li>
                                <a href="/apartments">Appartements à Louer</a>
                            </li>

                            <li>
                                <a href="/contact-us">Nous Joindre</a>
                            </li>

                        </ul>


                    </div>

                </div>

                <div class="top-contact">
                        {{!--Hidden on Small--}} 
                        
                        

                        <div class="menu-stack hide-on-med-and-down">

                            <div class="email-icon"><a href="mailto:lecourstoffalo@gmail.com"><i class="material-icons small">email</i></a></div>
                            <div class="email-stack"><a href="mailto:lecourstoffalo@gmail.com">LecoursToffalo@gmail.com </a> </div>


                            <div class="tel-icon"><a href="tel:+15149950037"><i class="material-icons small">local_telephone</i></a></div>
                            <div class="tel-stack"><a href="tel:+15149950037">+ 1 514 995-0037</a></div>


                        </div>  

                        {{!--Show only on small--}} 

                        
                        <div class="menu-stack-small show-on-med-and-down right">
                            <div class="email-icon-small"><a href="mailto:lecourstoffalo@gmail.com"><i class="material-icons">email</i></a></div>
                            <div class="tel-icon-small"><a href="tel:+15149950037"><i class="material-icons">local_telephone</i></a></div>
                        </div> 

                    </div>


                
            </div>

        </div>
    </div>
</nav>

{{> _header-side-nav}}