<section class="services-section">

            <div class="container">
            <div class="row">
                <h2><p class="header-text-01">Our Apartment</p></h2>
                <br>
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/le-quatier/le-quartier-03.jpg">
                            <span class="card-title">5547 4e Avenue</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        <div class="card-content">
                            <p>Grand 3 1/2. Charmant. 2e étage d'un cinqplex. Entrées laveuse-secheuse. 1 chambre fermé. Plancher en bois franc et céramique.

</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m3 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/le-quatier/le-quartier-01.jpg">
                            <span class="card-title">5779 Av. De Lorimier</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        <div class="card-content">
                            <p>4 1/2 style loft au 2e étage d'un cinqplex, d'environs 600 pieds carrés. Charmant logement. déal  pour jeune entrepreneur ou couple de professionnels.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/le-quatier/le-quartier-01.jpg">
                            <span class="card-title">5783 Av. De Lorimier</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        <div class="card-content">
                            <p>4 1/2 style loft au 2e étage d'un cinqplex, d'environs 600 pieds carrés. Charmant logement. Idéal  pour jeune entrepreneur ou couple de professionnels.</p>
                        </div>
                    </div>
                </div>

               

            </div>
    </div>
    </section>