<div class="card">
    <div class="card-content">
        <span class="card-title">Transfers Service Information</span>
        <form action="/payment/transfer-paypal" method="POST">


            <div class="row">
                <div class="col s12 m6 l6 input-field">
                    <input type="text" class="datepicker" name="trdate">
                    <label for="trdate">Select Date</label>
                </div>

                <div class="col s12 m6 l6 input-field">
                    <input type="text" class="timepicker" name="trtime">
                    <label for="trtime">Pickup Time</label>
                </div>
            </div>

             <div class="row">
                    <div class="col s12 m6 l6 input-field">
                        <input type="text" name="from" value="{{ transfer.from }}">
                        <label for="from">Pickup From</label>
                    </div>

                    <div class="col s12 m6 l6 input-field">
                        <input type="text" name="to" value="{{ transfer.to }}" >
                        <label for="to">To</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col s12 m12 l12 input-field">
                        <input type="text" name="pickupat" required>
                        <label for="pickupat">Pickup Location Name ( Ex. Hotel Name , Hinta Hinyai )</label>
                </div>

                 <div class="row">
                    <div class="col s12 m6 l6 input-field">
                        <input type="text" name="price" value="{{ transfer.price }}">
                        <label for="price">Price (Baht)</label>
                    </div>

                    <div class="col s12 m6 l6 input-field">
                        <input type="text" name="type" value="{{ transfer.type }}" >
                        <label for="type">Vehicle Type</label>
                    </div>

                </div>

                <div class="row">
                    <span class="card-title">Contact Information</span>
                </div>
            

                <div class="row">
                    <div class="col s12 m6 l6 input-field">
                        <input type="text" name="fname" required>
                        <label for="fname">First Name</label>
                    </div>

                    <div class="col s12 m6 l6 input-field">
                        <input type="text" name="lname" required >
                        <label for="lname">Last Name</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col s12 m6 l6 input-field">
                        <input type="email" name="email" required >
                        <label for="email">Your Email Address</label>
                    </div>

                    <div class="col s12 m6 l6 input-field">
                        <input type="text" name="phone">
                        <label for="phone">Phone No.</label>
                    </div>
                </div>

                <div class="row">
                     
                    <div class="col s12 m6 l6">
                        <label>
                            <input type="checkbox" name="readPolicy" class="filled-in" required />
                            <span>*I has been read and accepted <a href="/term-policies" target="_blank"> Term & Conditions</a></span>
                        </label>
                    </div>
                    <div class="col s12 m6 l6"></div>
                </div>

                
                <input type="hidden" value="Transfer" name="skuType">
               

               <div class="row">
                   
                   <div class="col s12 m6 l6">
                       <button class="btn light-blue accent-4 " style="inline-block" type="submit">               
                        Book Now 
                        </button> 
                   </div>

                   <div class="col s12 m6 l6"></div>
                
               </div>
                
                
               


        </form>
        </div>
    </div>