

        <div class="card white darken-1">
            <div class="card-content gray-text">

                <h4>Add new route</h4>
                <div class="hr-1px"></div>

                <form action="/admin/transfer" method="post">
                    <div class="row">
                        <div class="input-field col s12 m6 l6">

                            <input type="text" name="from">
                            <label for="from">From</label>

                        </div>
                    
                        <div class="input-field col s12 m6 l6">

                            <input type="text" name="to">
                            <label for="to">To</label>

                        </div>
                    </div>    
                    
                    <div class="row">
                        <input type="submit" value="Add" class="btn right">
                    </div>

                </form>

            </div>

        </div>




