<div class="container-fluid top-title-header">
    <div class="container">
        เพิ่มเกี่ยวกับ
    </div>
    <div class="divider"></div>
    <br>
    <div class="container">
        <div class="row">
            <div class="left"></div>
            <a href="/admin/about">
                <div class="btn right">กลับหน้าหลัก</div>
            </a>
        </div>
        <div class="row">
        </div>
    </div>
</div>
<div class="container">

    <div class="row">

        {{> _msg}}

        <div class="col s12 m12 l12">


            <div class="col s12 m12 l12">
                <div class="card white darken-1">
                    <div class="card-content gray-text">

                        <form action="/admin/about" method="post">

                            <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="title" required>
                                    <label for="title">ชื่อเรื่อง</label>

                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
                                    {{!-- <label for="desc">Contact Content</label> --}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <input type="text" name="manageBy">
                                    <label for="manageBy">๗ัดการโดย</label>

                                </div>
                            </div>


                            {{!-- <div class="row">
                                {{> _about-image-upload }}
                            </div> --}}




                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <select name="status" id="status">
                                        <option value="public" selected>Public</option>
                                        <option value="private">Private</option>
                                        <option value="unpublished">unpublished</option>
                                    </select>
                                    <label for="status">สถานะ</label>
                                </div>
                            </div>

                            <div class="row">
                                <input type="submit" value="เพิ่ม" class="btn right">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>





    </div>





</div>