body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .nav-wrapper .fa-bars {
    font-size: 30px;

  }

  .nav-wrapper  {
    
    background-color:     #084672;
      
    
  }

  footer{
      margin-top: 30px;

  }

  #delete-form{
    display: inline;
  }

  .text-capitalize{
    text-transform: capitalize;
  }

  .parallax-container {
    
  }