body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .nav-wrapper .fa-bars {
    font-size: 30px;

  }

  .nav-wrapper  {
    
    background-color:     #084672;
      
    
  }

  footer{
      margin-top: 30px;

  }

  #delete-form{
    display: inline;
  }

  .text-capitalize{
    text-transform: capitalize;
  }

  .services-section {
    padding-top: 120px;
    padding-bottom: 120px;
   
  }

  .about-section{
    background-color: #eceff1;
    padding-top: 120px;
    padding-bottom: 120px;
    color: #fff;
   
  }

  .banner-index {
    height: 95vh;
    /* background-image: url(../imags/natours/nat-5.jpg); */
    background-size: cover;
    background-color: #777;
    background-position: top;
    
  }

  .slider {
    height: 95vh;
    /* background-image: url(../imags/natours/nat-5.jpg); */
    background-size: cover;
    background-color: #777;
    background-position: top;
    
  }

  .header-text-01 {
    color: #455a64;
  }

  .why-section{
    
    background-color: #eceff1;
    padding-top: 120px;
    padding-bottom: 120px;
   color: #fff;
   
  }

  .social-section {
    background-color: #ffffff;
    margin-top: 70px;
    /* padding-top: 180px; */
    padding-bottom: 120px;
    color: #455a64;
  }

  .banner-sub {
   
      height: 30vh;
      /* background-image: url(../imags/natours/nat-5.jpg); */
      background-size: cover;
      background-color: #777;
      background-position: top;
    
  }

  .about-us{
    background-color: #ffffff;
    padding-top: 150px;
    margin-top: 120px;
    padding-bottom: 120px;
    color: #455a64;
   
  }

  .apartment-pic-box {
    height: 30vh;
    width: 90%;

  }

  .blue-grey-text {
    color: #455a64;
    
  }

  a:hover {
    color: whit;
    font-size: 110%;
    transition-timing-function: ease-out;
}

.menu-icon:hover {
  font-size: 130%;
  color: white;
  transition-timing-function: ease-out;
}

.font-logo {
  font-family: herculanum;
  font-size: 1.5rem;
}
  
  