.parallax-container-textbox-left {
    
        display: inline-block;
        /* float: left; */
        padding-top: 150px;
        text-align: center;
        color: #fff;
      }
    
.parallax-container-textbox-right {
            display: inline-block;
            /* float: right; */
            padding-top: 180px;
            text-align: center;
            color: #fff;
       }

 .hr-1px {
   display: inline-block;
   border-bottom: 1px solid grey;
   width: 100%;
   margin-bottom: 30px;
 }  
 
 .hr-1px-p10 {
  display: inline-block;
  border-bottom: 1px solid grey;
  width: 100%;
  margin-bottom: 10px;
}   
    