<div class="container">
    <h1>About OceanTour</h1>
    <p>V. 1.17.12.22</p>
    <p>Write your coding story with CodeStory and share it.</p>

    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <div class="lead"><b> Developement Environtment</b></div>
                <ul>
                    <li>- Tour</li>
                    <li>- Transfer</li>
                    <li>- Fullmoon Party</li>
                    <li>- Haftmoon Party</li>
                    <li>- Oneday Trip</li>
                    <li>- Ticketing</li>
                </ul>
            </div>
        </div>
    </div>

</div>