<div class="container-fluid">

    <div class="container-fluid">

        {{> _banner_sub}}

    </div>

    <div class="container">

        <div class="row about-us">
            <div class="col s12 m6 l6">
                <h3>{{ about.title }}</h3>
                <div>
                    {{!-- <b> Qui sommes-nous?</b> --}}
                </div>

                <p>{{{ about.desc }}}</p>

            </div>

            <div class="col s12 m6 l6">

               

            </div>

        </div>


    </div>

</div>