<div class="container-fluid">

   

    <div class="container">

        <div class="row about-us">
            <div class="col s12 m6 l6">
                <h3 class="header-text-01">{{ about.title }}</h3>
                <p>{{{ about.desc }}}</p>

            </div>

            <div class="col s12 m6 l6">
                <div style="padding: 30px">
                    <img class="responsive-img" src="/images/{{ about.imgUrl }}" alt="{{ about.title }}">
                </div>
               

            </div>

        </div>


    </div>

</div>