<div class="container-fluid">

    <div class="container-fluid">
        
            {{> _banner_sub}} 
       
    </div>

        <div class="container">

    <div class="row about-us">
        <div class="col s12 m6 l6">
                     <h3>Apartments </h3>
                    <div >
                        <b> Qui sommes-nous?</b>
                    </div>

                    <p>Nous sommes propriètaires de six petits immeubles dans le quartier de Rosemont - La Petite Patrie. Quatre
                        d'entre eux sont situés à deux pas du Plateau Mont-Royal. Les deux autres sont situés au coeur du
                        quartier Rosemont, près de la rue Masson. Nos immeubles sont en excellente condition et ont fait
                        l'objet de rénovations importantes.</p>
             
        </div>

        <div class="col s12 m6 l6">
           
        </div>

    </div>


</div>

</div>
