<div class="container-fluid">

    <div class="container-fluid">

        {{> _banner_sub}}

    </div>

    <div class="container">
            
            <div class="row about-us">
                
                 {{> _apartment_list}} 

            </div>
       
    </div>

</div>