<div class="container-fluid">

    <div class="container">

        {{!--{{> _banner_sub}}--}}
        <h1>Booking Information</h1>

    </div>
    {{!-- <br>
    <br>
    {{> _header-intro}} --}}
    <div class="container">

            
            <div class="row ">
                
                 {{> _transfer_book_form }} 

            </div>
       
    </div>

</div>