<div class="container">
    <h1>Get in Touch</h1>
    <div class="hr-1px"></div>
    <div class="row">
        <div class="col s12 m8 l8">
            <p>
                You can contact us any way that is convenient for you. We are available 24/7 via email, Phone or Our Social. You can also
                use a quick contact form below or visit our office personally. We would be happy to answer your questions.
            </p>

            
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea value="You message here" id="contactBody" class="materialize-textarea"></textarea>
                            <label for="contactBody">Message</label>
                        </div>
                    </div>
                    {{!--
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div> --}}
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>

                    <a class="waves-effect waves-light btn">Send</a>

                </form>
            </div>

        </div>

        <div class="col s12 m1 l1"></div>

        <div class="col s12 m3 l3">

            <div class="row">
                <h5>Socials</h5>
                <div class="hr-1px-p10"></div>
                <div class="col s12 m12 l12">
                    <i class="fa fa-facebook-official small" aria-hidden="true"></i>
                    <i class="fa fa-google-plus-square small" aria-hidden="true"></i>
                    <i class="fa fa-youtube-square small" aria-hidden="true"></i>
                    <i class="fa fa-instagram small" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <h5>Email</h5>
                <div class="hr-1px-p10"></div>
                 <div class="col s12 m2 l2">
                    <p>
                        <i class="material-icons">drafts</i>
                    </p>
                </div>
                <div class="col s12 m10 l10">
                    <p> info@oceantoursamui.com
                    </p>
                </div>
            </div>

            <div class="row">
                <h5>Phone</h5>
                <div class="hr-1px-p10"></div>
                 <div class="col s12 m2 l2">
                    <p>
                        <i class="material-icons">call</i>
                    </p>
                </div>
                <div class="col s12 m10 l10">
                    <p> +669 7579 4878
                    </p>
                </div>
            </div>

            <div class="row">
                <h5>Address</h5>
                <div class="hr-1px-p10"></div>
                 <div class="col s12 m2 l2">
                    <p>
                        <i class="material-icons">location_on</i>
                    </p>
                </div>
                <div class="col s12 m10 l10">
                    <p>Ocean Tour
                        <br>
                        <span>9/38 M.6 Bophut </span>
                        <br>
                        <span>Koh Samui Suratthani</span>
                        <br>
                        <span>Thailand 48320</span>
                    </p>
                </div>
            </div>


            <div class="row">
                <h5>Openning Hours</h5>
                <div class="hr-1px-p10"></div>
                <div class="col s12 m2 l2">
                    <p>
                        <i class="material-icons">access_time</i>
                    </p>
                </div>
                <div class="col s12 m10 l10">
                    <p>MONDAY-FRIDAY
                        <br>
                        <span>10:00am - 8:00pm</span>
                    </p>
                    <p>SATTURDAY-SUNDAY
                        <br>
                        <span>10:00am - 10:00pm</span>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>