
<div class="row">
        <div class="container-fluid">
                  
                        
                {{> _banner_sub}}
                 <div class="container" style="height: 100px;">
                        {{!-- MostOffice มีรายการสินค้าต่าง ให้บริการดังนี้ --}}
                </div> 

        </div>

</div>

<div class="row">
        <div class="container" style="margin-top: 250px">
        
                {{> _product_list}}
        </div>
        {{!--end container--}}
</div>    

<div class="row">
        <div class="container">
        
                {{> _service_list}}
        </div>
        {{!--end container--}}
</div>    
    
                    