

<div class="container-fluid">
    

    
                    <div class="row" style="margin-top: 20px">
                            <div class="col s12 m12 l12" style="margin-top: 20px">
                            <img class="responsive-img" src="/images/welcome/{{ welcome.imgUrl }}"  alt="{{ welcome.welcomeBannerImgUrl }}"> 
                            <div class="card-footer blue-grey-text center-align"></div>
                            </div>
                    </div>

   
</div> 
{{!--end container--}}