 {{!-- <br>
<br> {{> _header-intro }} --}}
<div class="container-fluid">
    
                    <div class="row" style="margin-top: 20px">

                        <img class="responsive-img center" src="/images/service/banner/{{ service.serviceBannerImgUrl }}" style="width: 100%" alt="{{ service.serviceBannerImgUrl }}"> 
                        
                    </div>
   
   
    <div class="row">
        <div class="col s12 m12 l12">
            <br>
            <p class="header-text-01">
                {{{ service.desc }}}
            </p>

            <br>  

            <br>


        </div>

       
    </div>
   
    <div class="row">
        <div class="col s12 m12 l12">
            {{> _service-gallery }}
            
        </div>
    </div>

    <div class="row">
            <div class="col s12 m6 l6">
                {{> _service-include }} 
            
            </div>

             <div class="col s12 m6 l6">
               
                {{> _service-exclude }}
            </div>
    </div>
   

   
</div> 
{{!--end container--}}