<div class="container" style="padding-bottom: 50px">
    <div class="center-align">
        <h1>Welcome </h1>
        <p><h4>Welcome to Ocean Tour</h4></p>
        <p>Adventure is your journey start new journey with us.</p>
       <p class="lead"> SIGN IN and START NOW</p> 

        {{#if user}} {{else}}
        <a class="btn red darken-1" href="/auth/google">
            <i class="fa fa-google left"></i> Login with Google</a>
        {{/if}}
    </div>
</div>