<div class="container-fluid" style="padding-bottom: 50px">
    <div class="center-align">
        <div class="parallax-container">           
          {{> _full_slide}}          
        </div>
        <div class="container align-left">
            {{> _apartment_list}} 
        </div>
       
    </div>
</div>