<div class="container" style="padding-bottom: 50px">
    <div class="center-align">
        <h1>Welcome </h1>
        <p><h4>Welcome to CodeStory</h4></p>
        <p>Start to Write and Share your coding stroy form now on.</p>

        {{#if user}} {{else}}
        <a class="btn red darken-1" href="/auth/google">
            <i class="fa fa-google left"></i> Login with Google</a>
        {{/if}}
    </div>
</div>