<div class="container-fluid" style="padding-bottom: 50px">
    <div class="center-align">
        <div class="parallax-container">           
          {{> _full_slide}}          
        </div>
       {{> _services}} {{> _why-us}} 
    </div>
</div>