<div class="container">
    <h4>Edit story</h4>
    <br>
        <form action="/stories/{{story.id}}?_method=PUT" method="post">
            <input type="hidden" name="_method" value="PUT" >
            <div class="row">
                <div class="input-field">
                    <input type="text" name="title" value="{{story.title}}">
                    <label for="title">Title</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field">
                    <select name="status" id="status">
                        {{#select story.status}}
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                        <option value="unpublished">Unpublished</option>
                        {{/select}}
                    </select>
                    <label for="status">Status</label>
                </div>
            </div>

            <div class="row">
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box" name="allowComments" {{#if story.allowComments}} checked="checked" {{/if}}>
                    <label for="filled-in-box">Allow Comments</label>
                </p>
            </div>

            <div class="row">
                <div class="input-field">
                    <h5>Code your story here</h5>
                    <textarea type="text" name="body">{{story.body}}</textarea>

                </div>

            </div>
            <div class="row">
                <input type="submit" value="Save" class="btn right">
            </div>

        </form>
    
</div>