<div class="container">
    <h4>Add new adventure stories</h4>
    <hr>
    
    <div class="container">
         <div class="row">
                <div class="input-field col s12">
                    {{#if errors}}
                    <div class="card-panel red lighten-4">
                        {{#each errors}} {{error}}
                        <br> {{/each}}
                    </div>
                    {{/if}} {{#each successMsg}}

                    <div class="card-panel green lighten-4">
                         {{success}}
                    </div>
                    {{/each}}
                </div>
    </div>

    <div class="row">
        <form action="/contents" method="post">
            <div class="row">
                <div class="input-field">
                    <input type="text" name="title">
                    <label for="title">Title</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field">
                    <select name="status" id="status">
                        <option value="public" selected>Public</option>
                        <option value="private">Private</option>
                        <option value="unpublished">Unpublished</option>
                    </select>
                    <label for="status">Status</label>
                </div>
            </div>

            <div class="row">
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box" name="allowComments" checked="checked">
                    <label for="filled-in-box">Allow Comments</label>
                </p>
            </div>

            <div class="row">
                <div class="input-field">
                    <h5>Content Body</h5>
                    <textarea type="text" name="body"></textarea>

                </div>

            </div>
            <div class="row">
                <input type="submit" value="Save" class="btn right">
            </div>

        </form>
    </div>
    </div>
</div>