<div class="container">
    <h3>Content</h3>
    <div class="hr-1px"></div>
    <div class="row">
       
        {{#if contents}}
        <table class="striped">
        <thead>
          <tr>
              <th>Title</th>
              <th>Body</th>
              <th>Status</th>
              <th>Manage</th>
          </tr>
        </thead>

        <tbody>

          
            {{#each contents }}

            
          <tr>
            <td>{{title}}</td>
            <td>{{stripTags (truncate body 100)}}</td>
            <td>{{status}}</td>
            <td>Edit | Delete</td>

          </tr>
           {{/each}}
            
        </tbody>
      </table>

        {{else}}
        <p>No Content Found!</p>
       {{/if}}
     

    </div>
</div>