<div class="container">
    <h1>Reservation</h1>
    <div class="hr-1px"></div>
    <div class="row">
        <div class="col s12 m8 l8">
            <p>
                You can contact us any way that is convenient for you. We are available 24/7 via email, Phone or Our Social. You can also
                use a quick contact form below or visit our office personally. We would be happy to answer your questions.
            </p>

            
            <div class="row">
                <form  action="/mail/send" method="post" >
                    <div class="row">
                        <div class="input-field col s6">
                            <input  id="firstName"  name="firstName" type="text" class="validate">
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="lastName" name="lastName" type="text" class="validate">
                            <label for="lastName">Last Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <input  id="subject"  name="subject" type="text" class="validate">
                            <label for="subject">Package</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea value="You message here" id="emailBody" name="emailBody" class="materialize-textarea"></textarea>
                            <label for="emailBody">Message</label>
                        </div>
                    </div>
                    {{!--
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div> --}}
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="toEmail" name="toEmail" type="email" class="validate">
                            <label for="toEmail">Email</label>
                        </div>
                    </div>

                     <div class="row">
                <input type="submit" value="Reserve Now" class="btn right">
            </div>

                </form>
            </div>

        </div>

        <div class="col s12 m1 l1"></div>

        <div class="col s12 m3 l3">

            <div class="row">
                <h5>Socials</h5>
                <div class="hr-1px-p10"></div>
                <div class="col s12 m12 l12">
                    <i class="fa fa-facebook-official small" aria-hidden="true"></i>
                    <i class="fa fa-google-plus-square small" aria-hidden="true"></i>
                    <i class="fa fa-youtube-square small" aria-hidden="true"></i>
                    <i class="fa fa-instagram small" aria-hidden="true"></i>
                </div>
            </div>

           
            
          


        </div>
    </div>
</div>