<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
        </script> --}}


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/welcome.css">
    <link rel="stylesheet" href="/css/tools.css">
    <link rel="stylesheet" href="/css/lightbox.min.css">
    <link rel="stylesheet" href="/css/style.css">


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    {{!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>--}}
    <script defer src="/fontawesome506/svg-with-js/js/fontawesome-all.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/lightbox-plus-jquery.min.js"></script>



    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>


    <title>MostOffice - เทปคุณภาพสูง ที่ท่านมั่นใจ</title>
</head>

<body>
    <div class="row">
        <div class="container-fluid">

            {{!-- {{> _nav-right-hamburger }} --}}
            {{> _nav2bar }}
            {{!--{{> _header }} --}}


            {{!-- {{#if user}} {{> _add-btn}} {{else}} {{/if}} --}}
        </div>

    </div>
    <div class="row">

        <div class="container-fluid">
            <main>

                <div class="container-fluid">
                    {{> _msg-flash}}

                </div>

                <div class="container-fluid">
                    {{{body}}}
                </div>


            </main>

        </div>


    </div>

    <div class="row">
        <div class="container-fluid">
            {{> _footer}}

        </div>

    </div>





    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
        </script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- CKEditor CDN -->
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>

    <!-- To activate SIDE NAV -->
    <script>
        $(document).ready(() => {
            $('.button-collapse').sideNav();
            $('select').material_select();
        });


        CKEDITOR.replace('body', {});
        CKEDITOR.replace('body');

        plugins: 'wysiwygarea,toolbar,link,basicstyles'

    </script>

    <script>
        $(document).ready(() => {
            $('.button-collapse').sideNav();
            $('select').material_select();
        });


        CKEDITOR.replace('desc', {});
        plugins: 'wysiwygarea,toolbar,link,basicstyles'

    </script> {{!--
    <script>
        ClassicEditor
            .create(document.querySelector('#desc'))
            .catch(error => {
                console.error(error);
            });
    </script> --}}

    {{!-- for banner slider --}}
    <script>
        $(document).ready(function () {
            $('.slider').slider();
        });
    </script>


    <script>

        $(document).ready(function () {
            $('.parallax').parallax();
        });

    </script>

    {{!-- <script>

        $("div.menu-icon").on({

            mouseenter: function () {
                $(this).css('color', 'red');
                $(this).css('font-size', 150 %);
                $()this.html('test over');
            },

            mouseleave: function () {
                $(this).css('color', 'white');
                $(this).css('font-size', 100 %);
            }

        });

    </script> --}}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.datepicker');
            M.Datepicker.init(elems, {
                format: 'dd-mm-yyyy'
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var timmer = document.querySelectorAll('.timepicker');
            M.Timepicker.init(timmer, {
                showClearBtn: true,
                    {{!--i18n: {
                    clear: 'เริ่มใหม่',
                    done: 'ตกลง',
                    cancel: 'ยกเลิก'
                }--}}
                });
            });

    </script>



</body>

</html>