<div class="row">
        <div class="container-fluid">
                {{> _banner_sub}}
        </div>

</div>

<div class="row" style="margin-top: 240px">
        {{!-- <div class="container-fluid divider"></div> --}}
        <div class="container-fluid top-title-header">
                <div class="container">
                        สินค้าและบริการ
                </div>
                <div class="divider"></div>
        </div>
        <div class="container">

                {{> _product_list}}
        </div>
        {{!--end container--}}
</div>
<div class="container-fluid top-title-header">
        <div class="container">
                บริการเพิ่มเติม
        </div>
        <div class="divider"></div>
</div>

</div>
<div class="row">

        <div class="container">

                {{> _service_list}}
        </div>
        {{!--end container--}}
</div>