<div class="container-fluid red lighten-5">
    <div class="container" style="height: 100px">
        {{!-- MostOffice มีรายการสินค้าต่าง ให้บริการดังนี้ --}}
    </div>    
</div>
<div class="container">
            {{> _service_list}} 
</div>
               
                 

